<?xml version="1.0" encoding="UTF-8"?>

<phpunit    bootstrap="test.bootstrap.inc.php"
            backupGlobals="false"
            backupStaticAttributes="false"
            syntaxCheck="false"
            forceCoversAnnotation="true"
            mapTestClassNameToCoveredClassName="true"
            colors="true">
    <testsuites>
        <testsuite name="Lunr Testsuite">
            <file>tests/system/class.environment.test.php</file>
            <file>tests/system/libraries/dataaccess/class.mysqlqueryresult.base.test.php</file>
            <file>tests/system/libraries/dataaccess/class.mysqlqueryresult.failed.test.php</file>
            <file>tests/system/libraries/dataaccess/class.mysqlqueryresult.success.test.php</file>
            <file>tests/system/libraries/dataaccess/class.mysqlqueryresult.result.test.php</file>
            <file>tests/system/libraries/dataaccess/class.mysqlasyncqueryresult.base.test.php</file>
            <file>tests/system/libraries/dataaccess/class.mysqlasyncqueryresult.fetch.test.php</file>
            <file>tests/system/libraries/dataaccess/class.mysqlasyncqueryresult.free.test.php</file>
            <file>tests/system/libraries/dataaccess/class.databasedmlquerybuilder.base.test.php</file>
            <file>tests/system/libraries/dataaccess/class.databasedmlquerybuilder.escape.test.php</file>
            <file>tests/system/libraries/dataaccess/class.databasedmlquerybuilder.escapevalues.test.php</file>
            <file>tests/system/libraries/dataaccess/class.databasedmlquerybuilder.queryparts.delete.test.php</file>
            <file>tests/system/libraries/dataaccess/class.databasedmlquerybuilder.queryparts.insert.test.php</file>
            <file>tests/system/libraries/dataaccess/class.databasedmlquerybuilder.queryparts.test.php</file>
            <file>tests/system/libraries/dataaccess/class.mysqldmlquerybuilder.select.test.php</file>
            <file>tests/system/libraries/dataaccess/class.mysqldmlquerybuilder.delete.test.php</file>
            <file>tests/system/libraries/dataaccess/class.mysqldmlquerybuilder.insert.test.php</file>
            <file>tests/system/libraries/dataaccess/class.mysqldmlquerybuilder.limit.test.php</file>
            <file>tests/system/libraries/dataaccess/class.mysqldmlquerybuilder.escape.test.php</file>
            <file>tests/system/libraries/dataaccess/class.mysqldmlquerybuilder.condition.test.php</file>
            <file>tests/system/libraries/dataaccess/class.mysqldmlquerybuilder.orderby.test.php</file>
            <file>tests/system/libraries/dataaccess/class.mysqldmlquerybuilder.groupby.test.php</file>
            <file>tests/system/libraries/dataaccess/class.databaseconnection.test.php</file>
            <file>tests/system/libraries/dataaccess/class.mysqlconnection.base.test.php</file>
            <file>tests/system/libraries/dataaccess/class.mysqlconnection.set.test.php</file>
            <file>tests/system/libraries/dataaccess/class.mysqlconnection.connect.test.php</file>
            <file>tests/system/libraries/dataaccess/class.mysqlconnection.query.test.php</file>
            <file>tests/system/libraries/dataaccess/class.mysqlconnection.escape.test.php</file>
            <file>tests/system/libraries/dataaccess/class.databaseconnectionpool.base.test.php</file>
            <file>tests/system/libraries/dataaccess/class.databaseconnectionpool.empty.test.php</file>
            <file>tests/system/libraries/dataaccess/class.databaseconnectionpool.unsupported.test.php</file>
            <file>tests/system/libraries/dataaccess/class.databaseconnectionpool.supported.test.php</file>
            <file>tests/system/libraries/dataaccess/class.databaseconnectionpool.public.test.php</file>
            <file>tests/system/libraries/dataaccess/class.databaseaccessobject.nopool.test.php</file>
            <file>tests/system/libraries/dataaccess/class.databaseaccessobject.pool.test.php</file>
            <file>tests/system/libraries/dataaccess/class.databaseaccessobject.results.test.php</file>
<!--            <file>tests/system/libraries/db/class.dbman.test.php</file>
            <file>tests/system/libraries/db/class.dbcon.test.php</file>-->
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>../system/libraries/</directory>
            <exclude>
                <file>../system/libraries/database/class.mysqlndquerylogger.inc.php</file>
            </exclude>
        </whitelist>
    </filter>
    <logging>
        <log    type="coverage-html"
                target="../build/coverage"
                title="Lunr"
                charset="UTF-8"
                yui="true"
                highlight="true"
                lowUpperBound="35"
                highLowerBound="70"/>
        <log    type="coverage-clover"
                target="../build/logs/clover.xml"/>
        <log    type="junit"
                target="../build/logs/junit.xml"
                logIncompleteSkipped="false"/>
    </logging>
</phpunit>
